# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables (MAI committare le password)
.env
.env.*

# UV / Virtualenv
.venv/
.python-version

# Logs e Database locali
logs/
*.log
db.sqlite3
*.sqlite3

# Static files raccolti
staticfiles/
media/

# IDE e OS
.vscode/
.idea/
.DS_Store
Thumbs.db



#Ignora i file di installazione binari di GDAL

*.whl
*.dll
*.exe

#Ignora i dump del database (CRITICO!)

*.sql
*.backup
*.dump
